@charset "UTF-8";
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

html {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

main {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  width: 100vw;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
}

.header-container {
  width: 1170px;
  height: 71px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-nav a {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  color: #181818;
  text-decoration: none;
}
.header-nav a:hover {
  font-weight: 600;
  text-decoration: underline;
  text-decoration-color: red;
}
.header-nav ul {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-nav li {
  list-style-type: none;
}

.header-phone {
  font-family: "Montserrat";
  font-size: 21px;
  font-weight: 400;
  color: #181818;
  text-decoration: none;
}

.hero {
  height: 645px;
  border-bottom: solid 13px #181818;
  background: url(../img/Frame\ 131.svg);
}

.hero-container {
  width: 770px;
  height: 401px;
  margin: 112px 0px 132px 375px;
}
.hero-container h2 {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-size: 56px;
  color: #FC2020;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.hero-container p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  color: #181818;
  margin: 0px;
}

.button-container {
  margin-top: 49px;
}

.buy-button {
  width: 300px;
  height: 63px;
  background-color: #FC2020;
  border: 0px;
  border-radius: 12px;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 20px;
  color: #FFFFFF;
  margin-right: 32px;
}

.info-button {
  width: 208px;
  height: 63px;
  background: transparent;
  border: 2px solid #FC2020;
  border-radius: 10px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 17px;
  color: #181818;
}

.about {
  width: 1920px;
  height: 752px;
  background: url(../img/Rectangle\ 159.svg);
}

.about-container {
  width: 1170px;
  height: 395px;
  margin: 10px 0px 238px 360px;
}
.about-container h2 {
  margin-left: 15px;
  font-family: "Oswald";
  font-weight: 500;
  font-size: 40px;
  text-transform: uppercase;
  color: #FC2020;
}

.about-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-card {
  width: 270px;
  height: 293px;
}
.about-card h3 {
  font-family: "Oswald";
  font-weight: 500;
  font-size: 32px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0px;
}
.about-card span {
  font-family: "Oswald";
  font-weight: 500;
  font-size: 32px;
  text-transform: uppercase;
  color: #FC2020;
  margin: 0px;
}
.about-card p {
  margin: 16px;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
}

.title-container {
  height: 55%;
  border-bottom: 1px solid #FC2020;
  padding: 40px 10px 0px 16px;
}

.card-container {
  width: 100%;
  height: 100%;
  background: transparent;
  position: relative;
  z-index: 1;
}

.card-img {
  position: absolute;
  z-index: 0;
}

.whywe {
  margin-bottom: 64px;
}

.whywe-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.whywe-container h2 {
  margin: 0px 0px 0px 340px;
  font-family: "Oswald";
  font-weight: 500;
  font-size: 40px;
  text-transform: uppercase;
  color: #FC2020;
}

.whywe-card-container {
  display: -ms-grid;
  display: grid;
  margin: 0 auto;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.whywe-card {
  width: 290px;
  height: 260px;
  border: 0.5px solid #181818;
}
.whywe-card img {
  margin: 40px 0px 0px 15px;
}
.whywe-card h3 {
  font-family: "Raleway";
  font-weight: 700;
  color: #FC2020;
  margin-left: 15px;
}
.whywe-card p {
  font-family: "Raleway";
  font-weight: 300;
  font-size: 16px;
  color: #181818;
  margin-left: 15px;
}

.production {
  width: 1920px;
  height: 733px;
  background: url(../img/Subtract\ \(1\).png);
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.production-container {
  width: 540px;
  height: 425px;
  margin: 174px 0px 0px 260px;
}
.production-container h2 {
  font-family: "Oswald";
  font-weight: 500;
  font-size: 40px;
  text-transform: uppercase;
  color: #FC2020;
}
.production-container p {
  font-family: "Raleway";
  font-weight: 300;
  font-size: 24px;
  color: #181818;
}

.production-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.production-button-container p {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 16px;
  color: #181818;
}

.catalog {
  border-bottom: 13px solid #181818;
}

.catalog-container {
  width: 1170px;
  height: 1390px;
  margin: 0 auto 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.catalog-container h2 {
  font-family: "Oswald";
  font-weight: 500;
  font-size: 40px;
  text-transform: uppercase;
  color: #FC2020;
}
.catalog-container button {
  width: 545px;
  height: 51px;
  margin: 10px auto;
  background: #FC2020;
  border: 0px;
  border-radius: 10px;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
}

.catalog-card-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.catalog-card {
  width: 370px;
  height: 576px;
  border: 2px solid #FC2020;
}
.catalog-card img {
  border-bottom: 1px solid #FC2020;
}
.catalog-card h3 {
  margin-left: 16px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 24px;
  color: #181818;
}
.catalog-card p {
  margin-left: 16px;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  color: #181818;
}

.price-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px 15px 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.price-container p {
  margin-left: 0px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #181818;
}
.price-container button {
  width: 145px;
  height: 42px;
  margin: 0px 0px;
  background: #FC2020;
  border: 0px;
  border-radius: 5px;
  font-family: "Raleway";
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 52px 0px 0px 375px;
}

.contact-form-container {
  width: 570px;
  height: 751px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact-form-container label {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 22px;
  color: #181818;
}
.contact-form-container h2 {
  font-family: "Oswald";
  font-weight: 500;
  font-size: 40px;
  text-transform: uppercase;
  color: #FC2020;
}
.contact-form-container ::-webkit-input-placeholder {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 22px;
  color: #ADADAD;
}
.contact-form-container ::-moz-placeholder {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 22px;
  color: #ADADAD;
}
.contact-form-container :-ms-input-placeholder {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 22px;
  color: #ADADAD;
}
.contact-form-container ::-ms-input-placeholder {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 22px;
  color: #ADADAD;
}
.contact-form-container ::placeholder {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 22px;
  color: #ADADAD;
}
.contact-form-container button {
  width: 545px;
  height: 63px;
  background: #FC2020;
  border: 0px;
  border-radius: 10px;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
}

.form-name {
  width: 570px;
  height: 60px;
  border: 1px solid #181818;
  border-radius: 5px;
}

.form-tel {
  width: 570px;
  height: 60px;
  border: 1px solid #181818;
  border-radius: 5px;
}

.form-area {
  width: 570px;
  height: 120px;
  background: #FFFFFF;
  border: 1px solid #181818;
  border-radius: 5px;
  resize: none;
}

.form-checkbox {
  position: relative; /* Добавляем позиционирование для ::before */
  width: 20px;
  height: 20px;
  background: black;
  border: 1px solid #181818;
  border-radius: 4px;
  margin: 16px 0px 32px 0px;
}

.checkbox-label {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 16px;
  color: #181818;
}
.checkbox-label a {
  color: #181818;
  text-decoration-line: underline;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  background: #181818;
}

.footer-container {
  width: 870px;
  height: 258px;
  margin: 0 auto;
  padding-top: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-container p {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.footer-container a {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 150px;
  height: 160px;
}

.footer-info {
  width: 224px;
  height: 248px;
}

.footer-map {
  width: 400px;
  height: 250px;
  background: blue;
}

.OOO-container {
  width: 100%;
  border-top: 1px solid #FC2020;
}
.OOO-container p {
  margin: 16px auto 16px auto;
  width: 200px;
  height: 70px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
}
